* {
    margin: 0
}

body{
    background-color: rgb(53, 53, 53);
    width: 100%;
}
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  

  
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }

#header{
    background-color: rgb(190, 136, 54);
    height: 7%;
    padding: 0px;
    display: flex;
    align-items: center;
}

#orange_logo{
    width: 40px;
    float : left;   
    margin-left: 4px;
}

#header_title{
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    font-size: 40;
    color:rgb(53, 53, 53); 
    margin-left: 10px;
}

.header_text {
    float: left;
    color: rgb(53, 53, 53);
    margin-right: 1%;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    font-size: 20;
}

#header_home{
    margin-left: 3%;
}

/* #header_about{
}

#header_contact{
} */

.header_button{
    height: 70%;
    width: 5%; 
    background-color: rgb(53, 53, 53);
    margin: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    font-size: 17;
    border: none;
    cursor: pointer;
    text-align: center;
    color: rgb(190, 136, 54);
    border-radius: 3px;
    
}   

#log_in_button {
    margin-left: 49.6%;
}


.banner{
    margin-top: 10px;
    margin-left: 8.33%;
}

#banner_img {
    margin: auto;
    width: 100%;
}

#search_bar_div {
    margin-left: 33.33%;
    height: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    
}

.search_bar{
    background-color: rgb(190, 136, 54);
    margin-top: auto;
    float: left;
    margin-left: 15%;
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 250px;
    color: rgb(53, 53, 53);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    font-size: 15;
    font-style: bold;
}

.search_btn{
    float: left;
    margin-top: auto;
    margin-left: 2px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: rgb(190, 136, 54);
    color: rgb(53, 53, 53);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    cursor: pointer;
}

#experiences_div{
    display: grid;
    grid-template-areas:
    "left center right"
    "left center right"
    "left center right"
    "left center right";
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(34, 113, 218, 0.459);
    margin-left: 8.33%;
    margin-top: 20px;   
    padding: 0px;
}

#experiences_div > left{
    grid-area: left;
}

#experiences_div > right{
    grid-area: right;
    margin: right  ;
}

#experiences_div > center{
    grid-area: center;
    margin: center;
}

.photo_container{
    float: left; 
    margin-left: 40px;
    background-color: rgba(221, 16, 16, 0.596);
    margin: auto;
}

.photo_title{
    color: rgb(190, 136, 54);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    font-weight: bold;
}

.photo_description{
    color: rgb(190, 136, 54);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    font-weight: 40;

}

.photo{
    margin-bottom: 5px;
    box-shadow: 5px 3px 10px rgb(190, 136, 54);
}

#orange_juice{
    margin-top: 0px;
    margin-left: 60px;
}

#orange_juice_photo{
    height: 350px;
}

#museum_juice{
    margin-top: 50px;
}

#museum_juice_photo{
    width: 400px;
}

/* #orange_squeeze{
    margin-top: 35px;
} */

/* #orange_squeeze_photo{
    width: 200px;
} */

/* #orange_squeeze2{
    margin-top: 100px;
} */

/* #orange_squeeze_photo2{
    width: 200px;    
} */

/* .search_bar{
    margin: 40px;
    background-color: rgb(190, 136, 54);
} */

/* #title {
    width: 100%;
    height: 85px;
    background-color: rgb(190, 136, 54);
    border: 2px rgb(190, 136, 54) solid; 
    margin: auto;
    margin-bottom: 50px; 
    overflow : hidden;
}

#banner {
    text-align:center; 
    overflow:hidden; 
    width:85%;
    margin: auto;
}

#orange_logo {
    width: 45px;
    float : left;
    margin-left: 30px;
    margin-top: 20px;
}

#header_text {
    float: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
    font-size: 60;
    color:rgb(53, 53, 53); 
    margin-left: 5px;
    margin-top: 8px;
}

#banenr_img {
    margin: auto; 
    width: 80vw;
} */