/* ------------------------------------------------------------------------- */
/* --------------------------- AUTHORS ------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ---------- IGNACIO AGUILERA CÁRDENAS, 100429045@alumnos.uc3m.es --------- */
/* ---------- MARIO SÁNCHEZ MUÑOZ, 100428970@alumnos.uc3m.es --------------- */
/* ------------------------------------------------------------------------- */


* {
    margin: 0
}

body{
    background-color: rgb(53, 53, 53);
    width: 100%;
}

  /*---------------------------------------------------------------------------------*/
  /*----------------------------------- FOR PHONE -----------------------------------*/
  /*---------------------------------------------------------------------------------*/
  @media only screen and (max-width: 600px){
      
    #header{
        height: 11vw;       
    }

    .orange_logo{
        width: 7vw;
    }

    #header_title{
        font-size: 5.5vw;     
    }

    .header_text {
        font-size: 3vw;
    }

    #header_home{
        margin-left: 4%;
    }

    .header_button{
        height: 55%;
        width: 12%; 
        margin: 1%;
        font-size: 2.8vw;       
    }   

    #log_in_button {
        margin-left: 5%;
    }

    #search_bar_div{
        width: 80vw;
    }

    #search_bar{
        font-size: 2.7vw;
    }
    #search_btn{
        font-size: 2.7vw;
    }
    #experiences_container{
        width: 100vw;
        grid-template-columns: 1;       
        margin-top: 20px;   
        margin-bottom: 20px;
    }
    
    .photo{
        width: 50vw;
    }

    .photo_title{
        font-size: 4vw;
    }

    .photo_description{
        font-size: 2.5vw;
    }
    
    .photo_column_tablet{
        display: none;
    }


    #orange_logo_footer{
        width: 5%; 
        margin: 1%;   
    }

    #footer_title{
        font-size:4vw;
    }

    #footer_right{
        display: flex;
    }

    #social_media{
        margin: auto;
        margin-left: 100%;
    }
    #faq{
        font-size: 2.5vw;
        margin-right: 10%;
    }
    .instagram_logo{
        width: 5vw;
    }
    .facebook_logo{
        width: 6vw;
        
    }
    .twitter_logo{
        width: 4.5vw;
    }
    #terms{
        font-size: 2vw;
        margin-left: 10%;
    }
    
  }

  /*---------------------------------------------------------------------------------*/
  /*---------------------------------- FOR TABLET -----------------------------------*/
  /*---------------------------------------------------------------------------------*/
  @media only screen and (min-width: 601px){
    #header{
        height: 9vw;
    }

    .orange_logo{
        width: 6vw;
    }

    #header_title{
        font-size: 4.5vw;
    }

    .header_text {
        font-size: 2.5vw;
    }

    #header_home{
        margin-left: 4%;
    }

    .header_button{
        height: 55%;
        width: 8%; 
        margin: 0.5%;
        font-size: 1.8vw;
    } 

    #log_in_button {
        margin-left: 25%;
    }

    #search_bar_div{
        width: 65vw;
    }
    
    #search_bar{
        font-size: 2.1vw;
    }
    #search_btn{
        font-size: 2.1vw;
    }

    #experiences_container{
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 30px;   
        margin-bottom: 30px;
    }
    .photo{
        width: 40vw;
    }

    .photo_title{
        font-size: 3vw;
    }

    .photo_description{
        font-size: 2vw;
    }

    .photo_column_tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .photo_column_desktop{
        display: none;
    }

    #orange_logo_footer{
        width: 5%;  
        margin: 1%;  
    }

    #footer_title{
        font-size:3.5vw;
    }

    #footer_right{
        display: flex;  
    }

    #social_media{
        margin: auto;
        margin-left: 150%;
    }
    #faq{
        font-size: 2vw;
        margin-right: 10%;
    }
    .instagram_logo{
        width: 4.5vw;
    }
    .facebook_logo{
        width: 5.5vw;
        
    }
    .twitter_logo{
        width: 4vw;
    }
    #terms{
        font-size: 1.5vw;
        margin-left: 10%;
    }

  }
  /*---------------------------------------------------------------------------------*/
  /*---------------------------------- FOR DESKTOP ----------------------------------*/
  /*---------------------------------------------------------------------------------*/
  @media only screen and (min-width: 1025px){
      
    #header{
        height: 4vw;   
    }

    .orange_logo{
        width: 3.3vw;
    }

    #header_title{
        font-size: 2.5vw;
    }

    .header_text {
        font-size: 1.5vw;
    }

    #header_home{
        margin-left: 3%;
    }

    .header_button{
        height: 65%;
        width: 5%; 
        margin: 0.2%;
        font-size: 1vw; 
    }

    #log_in_button {
        margin-left: 49.6%;
    }

    #search_bar_div{
        width: 60vw;
    }
    
    #search_bar{
        font-size: 1.2vw;
    }
    #search_btn{
        font-size: 1.2vw;
    }

    #experiences_container{
        width: 96.95vw;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20px;   
        margin-bottom: 20px;
    }

    .photo_title{
        font-size: 1.5vw;
    }

    .photo_description{
        font-size: 1vw;
    }

    .col_1_desktop{
        width: 17vw;
    }
    .col_2_desktop{
        width: 20vw;
    }

    .photo_column_desktop{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .photo_column_tablet{
        display: none;
    }

    #orange_logo_footer{
        width: 3%;
        margin-left: 0.5%; 
    }

    #footer_title{
        font-size:2vw;
    }
    #footer_right{
        display: grid;
        grid-template-areas: 
        'top'
        'bottom';
        margin-left: 67vw;
        
    }
    .footer_grid{
        margin: auto;
        align-items: center;
        
    }

    #social_media{
        margin-top: 5%;
        margin-left: 75%;
    }
    #faq{
        font-size: 1.5vw;
        margin-right: 5%;
    }
    .instagram_logo{
        width: 2.3vw;
    }
    .facebook_logo{
        width: 2.8vw;
        
    }
    .twitter_logo{
        width: 2vw;
    }
    #terms{
        font-size: 1.2vw;
        margin-left: 6.5vw;
        margin-right: -8.5vw;
        margin-bottom: 5%;
    }
  }
  /* -------------------------------------------------------------------------------------------------------------- */
  /* --------------------------------------------------- COMMON --------------------------------------------------- */
  /* -------------------------------------------------------------------------------------------------------------- */

.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
}

#header{
    background-color: rgb(190, 136, 54);
    width: 100%;
    display: flex;
    align-items: center;
}
.orange_logo{
    float : left;   
    margin: 0.5%
}
#header_title{
    float: left;
    color:rgb(53, 53, 53); 
    margin-left: 0.5%;
}
.header_text {
    float: right;
    color: rgb(53, 53, 53);
    transition: color 0.2s;
    margin-right: 1%;
    margin-top: 0.2%;
}


.header_text:hover{
    color: rgb(245, 173, 65);
}

.header_button{
    border: none;
    cursor: pointer;
    text-align: center;
    color: rgb(190, 136, 54);
    border-radius: 3px;   
}

#sign_up_button{
    border:rgb(53, 53, 53) solid 2px;
    color: rgb(53, 53, 53);
    background-color: rgb(190, 136, 54);
    transition: background-color 0.5s; 
}

#sign_up_button:hover{
    background-color: rgb(230, 177, 98);
    font-weight: bold;
}

#log_in_button {
    background-color: rgb(53, 53, 53);
    transition: background-color 0.5s;
}

#log_in_button:hover{
    background-color: rgb(78, 78, 78);
    font-weight: bold;
}


#experiences_container{
    display: grid;
    align-items: center;
}

/* Contains the search bar and experiences */
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    text-align: center;
    
}

#banner_img {
    margin: auto;
    width: 100%;
    height: 100%;
}

#search_bar_div {
    height: 7%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin-top: 5%;
    
}

#search_bar{
    background-color: rgb(190, 136, 54);
    margin-top: auto;
    border: none;
    border-radius: 3px;
    height: 9%;
    width: 85%;
    color: rgb(53, 53, 53);
    font-style: bold;
}

#search_bar::placeholder{
    color: rgb(53, 53, 53);
    font-weight: 700;
    font-style: normal;
}

#search_btn{
    width: 15%;
    margin-top: auto;
    margin-left: 1%;
    height: 9%;
    border: none;
    border-radius: 3px;
    background-color: rgb(190, 136, 54);
    color: rgb(53, 53, 53);
    cursor: pointer;
    transition: background-color 0.5s;
}

#search_btn:hover{
    box-shadow:inset 0px 0px 0px 1px rgb(190, 136, 54);
    color: rgb(190, 136, 54);
    background-color: rgb(53, 53, 53);
    
}

.photo_container{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.photo_title{
    color: rgb(190, 136, 54);
    font-weight: bold;
}

.photo_description{
    color: rgb(190, 136, 54);
    font-weight: 40;
    text-align: center;

}

.photo{
    margin-bottom: 5%;
    margin-top: 7%;
    border-radius: 6px;
    box-shadow: 0px 0px 15px rgb(190, 136, 54);
    transition: box-shadow 0.2s;
}

.photo:hover{
    box-shadow: 0px 0px 15px rgb(156, 100, 15);
}

#footer{  
    background-color: rgb(190, 136, 54);
    width:100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
}

#orange_logo_footer{
    float : left; 
}

#footer_title{
    float: left;
    color:rgb(53, 53, 53); 
    margin-left: 0%;
}

#social_media{
    display: flex;
    align-items: center;
}