/* ------------------------------------------------------------------------- */
/* --------------------------- AUTHORS ------------------------------------- */
/* ------------------------------------------------------------------------- */
/* ---------- IGNACIO AGUILERA CÁRDENAS, 100429045@alumnos.uc3m.es --------- */
/* ---------- MARIO SÁNCHEZ MUÑOZ, 100428970@alumnos.uc3m.es --------------- */
/* ------------------------------------------------------------------------- */


* {
    margin: 0
}

body{
    background-color: rgb(53, 53, 53);
    width: 100%;
}

  /*--------------------------------------------------------------------------------*/
  /*---------------------------------- FOR PHONE -----------------------------------*/
  /*--------------------------------------------------------------------------------*/
@media only screen and (max-width: 600px){
      
    #header{
        height: 11vw;       
    }

    .orange_logo{
        width: 7vw;
    }

    #header_title{
        font-size: 5.5vw;     
    }

    .header_text {
        font-size: 3vw;
    }

    #header_home{
        margin-left: 4%;
    }

    .header_button{
        height: 55%;
        width: 12%; 
        margin: 1%;
        font-size: 2.8vw;       
    }   

    #log_in_button {
        margin-left: 5%;
    }

    #text_title {
        margin: auto;
        margin-top: 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #avila_experience_title{
        font-size: 8vw;
    }

    .text_div{
        margin-top: none;
        margin-bottom: 10vw;
    }

    #avila_text{
        font-size: 4vw;
    }

    .photo_container{
        flex-direction: column;
        align-items: center;
    }

    .photo{
        width: 80vw;
        margin: 3vw;
        box-shadow: 0px 0px 7px rgb(190, 136, 54);
    }

    .video_container{
        margin-top: 8vw;
        flex-direction: column;
        align-items: center;
    }

    .video{
        width: 80vw;
        height: 45vw;
        margin: 3vw;
        box-shadow: 0px 0px 7px rgb(190, 136, 54);
    }

    #orange_logo_footer{
        width: 5%; 
        margin: 1%;   
    }

    #footer_title{
        font-size:4vw;
    }

    #footer_right{
        display: flex;
    }

    #social_media{
        margin: auto;
        margin-left: 100%;
    }
    
    #faq{
        font-size: 2.5vw;
        margin-right: 10%;
    }

    .instagram_logo{
        width: 5vw;
    }

    .facebook_logo{
        width: 6vw;   
    }

    .twitter_logo{
        width: 4.5vw;
    }
    #terms{
        font-size: 2vw;
        margin-left: 10%;
    }
    
}
  /*---------------------------------------------------------------------------------*/
  /*---------------------------------- FOR TABLET -----------------------------------*/
  /*---------------------------------------------------------------------------------*/

  @media only screen and (min-width: 601px) and (max-width:1024px){
    #header{
        height: 9vw;
    }

    .orange_logo{
        width: 6vw;
    }

    #header_title{
        font-size: 4.5vw;
    }

    .header_text {
        font-size: 2.5vw;
    }

    #header_home{
        margin-left: 4%;
    }

    .header_button{
        height: 55%;
        width: 8%; 
        margin: 0.5%;
        font-size: 1.8vw;
    } 

    #log_in_button {
        margin-left: 25%;
    }

    #text_title {
        margin: auto;
        margin-top: 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #avila_experience_title{
        font-size: 5vw;
    }

    .text_div{
        margin-top: none;
        margin-bottom: 10vw;
    }

    #avila_text{
        font-size: 2.5vw;
    }

    .photo_container{
        flex-direction: column;
        align-items: center;
    }

    .photo{
        width: 65vw;
        margin: 3vw;
        box-shadow: 0px 0px 7px rgb(190, 136, 54);
    }

    .video_container{
        margin-top: 8vw;
        flex-direction: column;
        align-items: center;
    }

    .video{
        width: 65vw;
        height: 37vw;
        margin: 3vw;
        box-shadow: 0px 0px 7px rgb(190, 136, 54);
    }

    #orange_logo_footer{
        width: 5%;  
        margin: 1%;  
    }

    #footer_title{
        font-size:3.5vw;
    }

    #footer_right{
        display: flex;  
    }

    #social_media{
        margin: auto;
        margin-left: 150%;
    }

    #faq{
        font-size: 2vw;
        margin-right: 10%;
    }

    .instagram_logo{
        width: 4.5vw;
    }

    .facebook_logo{
        width: 5.5vw; 
    }

    .twitter_logo{
        width: 4vw;
    }

    #terms{
        font-size: 1.5vw;
        margin-left: 10%;
    }

  }
  /*---------------------------------------------------------------------------------*/
  /*---------------------------------- FOR DESKTOP ----------------------------------*/
  /*---------------------------------------------------------------------------------*/

  @media only screen and (min-width: 1025px){
      
    #header{
        height: 4vw;   
    }

    .orange_logo{
        width: 3.3vw;
    }

    #header_title{
        font-size: 2.5vw;
    }

    .header_text {
        font-size: 1.5vw;
    }

    #header_home{
        margin-left: 3%;
    }

    .header_button{
        height: 65%;
        width: 5%; 
        margin: 0.2%;
        font-size: 1vw; 
    }

    #log_in_button {
        margin-left: 49.6%;
    }

    #text_title {
        margin: auto;
        margin-top: 3vw;
    }

    #avila_experience_title{
        font-size: 5vw;
    }
    
    #avila_text{
        font-size: 1.5vw;
    }
    
    .photo_container{
        width: 100%;
        margin-top: 2vw;
        display: flex;
    }
    
    .photo{
        border-radius: 4px;
        margin: 0.2%;
        box-shadow: 0px 0px 4px rgb(190, 136, 54);
    }
    
    /* width = 19.6% for 5 photos --> 100% / 5 = 20%, minus margins: 19.6%*/

    .photo_avila{
        width: 19.6%;
    }

    .photo_cadiz{
        width: 19.6%;
        height: 13vw;
    }
    
    .photo_mallorca{
        height: 18vw;
        width: 19.6%;
    }

    .photo_valencia{
        width: 19.6%;
    }
    
    .video_container{
        width: 100%;
        margin-top: 2vw;
    }
    
    .video{
        width: 19.6%;
        height: 11vw;
        margin: 0.2%;
        box-shadow: 0px 0px 4px rgb(190, 136, 54);
    }
  
    #footer{  
        background-color: rgb(190, 136, 54);
        width: 100%;
        margin-top: 5%;
        display: flex;
        align-items: center;
    }

    #orange_logo_footer{
        width: 3%; 
        margin-left: 0.5%;
        
    }

    #footer_title{
        font-size:2vw;
    }
    #footer_right{
        display: grid;
        grid-template-areas: 
        'top'
        'bottom';
        margin-left: 67vw;
        
    }
    .footer_grid{
        margin: auto;
        align-items: center;
        
    }

    #social_media{
        margin-top: 5%;
        margin-left: 75%;
    }

    #faq{
        font-size: 1.5vw;
        margin-right: 5%;
    }

    .instagram_logo{
        width: 2.3vw;
    }

    .facebook_logo{
        width: 2.8vw;        
    }

    .twitter_logo{
        width: 2vw;
    }

    #terms{
        font-size: 1.2vw;
        margin-left: 6.5vw;
        margin-right: -8.5vw;
        margin-bottom: 5%;
    }
  }
  
  /* -------------------------------------------------------------------------------------------------------------- */
  /* --------------------------------------------------- COMMON --------------------------------------------------- */
  /* -------------------------------------------------------------------------------------------------------------- */

.text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    font-style: Trebuchet MS;
}

#header{
    background-color: rgb(190, 136, 54);
    width: 100%;
    display: flex;
    align-items: center;
}
.orange_logo{
    float : left;   
    margin: 0.5%
}
#header_title{
    float: left;
    color:rgb(53, 53, 53); 
    margin-left: 0.5%;
}
.header_text {
    float: right;
    color: rgb(53, 53, 53);
    margin-right: 1%;
    margin-top: 0.2%;
    transition: color 0.2s;
}


.header_text:hover{
    color: rgb(245, 173, 65);
}

.header_button{
    border: none;
    cursor: pointer;
    text-align: center;
    color: rgb(190, 136, 54);
    border-radius: 3px;   
}

#sign_up_button{
    border:rgb(53, 53, 53) solid 2px;
    color: rgb(53, 53, 53);
    background-color: rgb(190, 136, 54);
    transition: background-color 0.5s; 
}

#sign_up_button:hover{
    background-color: rgb(230, 177, 98);
    font-weight: bold;
}

#log_in_button {
    background-color: rgb(53, 53, 53);
    transition: background-color 0.5s;
}

#log_in_button:hover{
    background-color: rgb(78, 78, 78);
    font-weight: bold;
}

#media{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience_photo{
    width: 100%;
}

#text_title{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 2px rgb(190, 136, 54) solid;
    border-left: 2px rgb(190, 136, 54) solid;
    border-right: 2px rgb(190, 136, 54) solid;
    text-align: center;
    width: 80vw;
    color: rgb(190, 136, 54);
}


.text_div{
    background-color: rgb(190, 136, 54);
    border: 2px rgb(190, 136, 54) solid;
    margin: auto;
    width: 80vw;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(37, 37, 37);
    display: flex;
    flex-direction: column;
}

#text_description{
    text-align: center;
    margin:  1.5vw;
    margin-top: 2.5vw;
    font-size: 1.3vw;
    
}

.photo_container{
    width: 100%;
    margin-top: 2vw;
    display: flex;
}

.photo{
    border-radius: 4px;
}

.video_container{
    display: flex;
    align-items: center;
}

.video{
    border: 0;
}

#footer{  
    background-color: rgb(190, 136, 54);
    width:100%; /*94.94em*/
    margin-top: 5%;
    display: flex;
    align-items: center;
}

#orange_logo_footer{
    float : left; 
}

#footer_title{
    float: left;
    color:rgb(53, 53, 53); 
    margin-left: 0.5%;
}

#social_media{
    display: flex;
    align-items: center;
}